
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Sawyer's Luxury Vehicles</h1>
            <p>If you're worried about the price then you've come to the wrong place.</p>
            <p>Reasonable isn't in our vocabulary.</p>
<iframe src="https://i.gifer.com/A9Cn.gif" width="480" height="320" frameBorder="0"
        class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</main>
<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>

